@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать!</h1>
    <p>Узнайте больше о <a href="https://docs.microsoft.com/aspnet/core">создании веб-приложений с помощью ASP.NET Core</a>.</p>
</div>
